{% extends "base.html" %}

{% block title %}Accueil - ObesiTrack{% endblock %}

{% block content %}
<h1>Bienvenue sur ObesiTrack</h1>
<p>ObesiTrack est une application pour suivre et prédire l'état d'obésité.</p>

<div class="cards-container">
    <div class="card">
        <h3>Faire une prédiction</h3>
        <p>Entrez vos informations pour obtenir une prédiction personnalisée.</p>
        <a href="/predict" class="card-button">Prédire maintenant</a>
    </div>

    <div class="card">
        <h3>Historique</h3>
        <p>Consultez vos prédictions passées.</p>
        <a href="/predict/history" class="card-button">Voir l'historique</a>
    </div>

</div>
{% endblock %}
